*{
    box-sizing: border-box;
    font-family: 'Noto Snas KR', sans-serif;
}
body{
    margin: 0;
    background-color: aqua;
}
.GameName-form{
    width: 400px;
    border: 0;
    border-radius: 5px;
    background-color: blue;
    padding: 10px;
    margin: 0 auto;
}
.S-login-form{
    width: 400px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
}