*{
    box-sizing: border-box;
    font-family: 'Noto Snas KR', sans-serif;
}
body{
    margin: 0;
    background-color:black;
}
.S-login-form{
    position: relative;
    background-color: rgba(11, 172, 241, 0.279);
    width: 350px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    font-size: 14px;
    top: 390px;

}