*{
    box-sizing: border-box;
    font-family: 'Noto Snas KR', sans-serif;
}
body{
    margin: 0;
    background-color: black;
}
.start-form{
    position: relative;
    color: black;
    font-size: 14px;
    background-color: aquamarine;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    top: 610px;
    right: -650px;
    text-align: center;
}
