*{
    box-sizing: border-box;
    font-family: 'Noto Snas KR', sans-serif;
}

body{
    margin: 0;
    background-color: white;
    background-image: url("https://ifh.cc/g/ShlWmf.png");
    background-repeat: no-repeat;
    background-position: 50% -100% ;
}